// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 $gray: #F4F4F4;

 body {
   background: $gray; // Using this variable
 }

 .answer
 {
   background-color: #feffe1;
   border-left: 4px solid #dddddd;
   padding-left: 10px;
 }

 .question
 {
   background-color: #ffffff;
   border-left: 4px solid #dddddd;
   padding-left: 10px;
 }

.container{
  width: 800px;
  height: 100vh;
  margin-left: 50px;
}

 a {
   text-decoration: none;
   color: #639ecc;
 }

